<!-- partial: experience.html -->
<article id="portfolio" class="wrapper style3">
  <div class="container">
    <header>
      <h2>My medical experience</h2>
    </header>
    <div class="row">
      <div class="col-4 col-6-medium col-12-small">
        <article class="box style2">
          <a href="#" class="image featured"><img src="../assets/images/barts.png" alt="" /></a>
          <h3><a href="#">Undergraduate training</a></h3>
          <p>Graduated from the prestigious University of London in 2012 with two Clinical Distinctions, four Merits and a Prize for Academic Excellence.</p>
        </article>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <article class="box style2">
          <a href="#" class="image featured"><img src="../assets/images/anaesthesia.jpg" alt="" /></a>
          <h3><a href="#">Specialist Anaesthesia</a></h3>
          <p>Fellow of the Royal Australian College of Anaesthetists and Membership of the Royal College of Anaesthestists (UK). <br> <br>Queensland-trained in Brisbane, Sunshine Coast and rural placements. Fellowship training in retrieval and perioperative medicine.</p>
        </article>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <article class="box style2">
          <a href="#" class="image featured"><img src="../assets/images/gp.jpg" alt="" /></a>
          <h3><a href="#">Specialist General Practice</a></h3>
          <p>Fellowship of the Royal Australian College of General Practitioners and Membership of the Royal College of General Practitioners (UK). <br><br> Consultant family physician with busy practices in both the UK and Queensland. Accredited GP anaesthetist.</p>
        </article>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <article class="box style2">
          <a href="#" class="image featured"><img src="../assets/images/winch.png" alt="" /></a>
          <h3><a href="#">Prehospital and Retrieval Medicine</a></h3>
          <p>Diploma in Prehospital and Retrieval Medicine (Australia) and Diploma in Immediate Medical Care (UK). <br><br> Queensland Health accredited specialist.</p>
        </article>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <article class="box style2">
          <a href="#" class="image featured"><img src="../assets/images/tropical.jpg" alt="" /></a>
          <h3><a href="#">Tropical Medicine</a></h3>
          <p> Diploma in Tropical Medicine and Hygiene, Royal College of Physicians (London). <br><br> Interest in remote area working, disaster medicine and underserved communities.</p>
        </article>
      </div>
      <div class="col-4 col-6-medium col-12-small">
        <article class="box style2">
          <a href="#" class="image featured"><img src="../assets/images/geriatric.jpg" alt="" /></a>
          <h3><a href="#">Additional qualifications</a></h3>
          <p>Diplomas in Geriatric Medicine (Older adults) and Obstetrics and Gynaecology. <br><br> All United States licensing examinations complete.</p>
        </article>
      </div>
    </div>
    <footer>
      <p>Would you like to know more about Dr Faraaz or how I could help you?</p>
      <a href="#contact" class="button large scrolly">Get in touch with me</a>
    </footer>
  </div>
</article>
