<!-- partial: hero.html -->
<article id="top" class="wrapper style1">
  <div class="container">
    <div class="row">
      <div class="col-4 col-5-large col-12-medium">
        <span class="image fit"><img src="../assets/images/me.jpg" alt="Dr Faraaz de Belder" /></span>
      </div>
      <div class="col-8 col-7-large col-12-medium">
        <header>
          <h1>Amnestic Anaesthesia</h1>
        </header>
        <p class="credentials">
          Dr Faraaz Richard de Belder <br>
          MBBS FANZCA FRACGP DipPHRM DIMC DTM&amp;H DGM DRCOG
        </p>
        <p class="tagline">
          Delivering quality anaesthesia, retrieval and critical care medicine. <br>
        </p>
        <a href="#work" class="button large scrolly">Learn about what I do</a>
      </div>
    </div>
  </div>
</article>
